.main {
  @apply flex-auto ;
  .information {
    @apply flex-auto mt-24;
    margin-bottom: 2.25rem;
    h1 {
      @apply font-extrabold;
      font-size: 1.5rem;
    }
  }
  .whatIsRating {
    h1 {
      margin-bottom: 2.25rem;
    }
    .rating {
      @apply grid grid-cols-2 gap-4 items-center;
      .item {
        @apply flex items-center gap-2;
        .circle {
          @apply p-6 bg-gray-700 text-white;
          border-radius: 50%;
        }
      }
    }
  }
}

.container {
  max-width: 81.25rem;
  margin: 0px auto;
}

